// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// mis colores

$first: #8AA385;
$second: #4A4A48;
$third: #D4A259;
$fourth: #F8F4E3;
$fifth: #C97A63;
