// <!-- colors -->
$primary-color: #222222;
$secondary-color: #f4f4f4;
$tertiary-color: #dddddd;
$quaternary-color: #dad0fe;
$quinary-color: #00ae7a;
$senary-color:#6c757d;
$septenary-color: white;

// $octonary-color: #343a40;
// $nonary-color: #f4f4f4;
// $denary-color: #222222;

//font-size
$font-size-small: 1rem;
$font-size-medium: 1.25rem; // Tamaño estándar para el cuerpo de texto
$font-size-large: 1.5rem;
$font-size-xlarge: 1.75rem;


// Definir tamaños de fuente basados en la regla del 8
$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 20px;
$font-size-h4: 16px;
$font-size-h5: 12px;
$font-size-p: 16px;

// Tipografía para encabezados
h1, h2, h3 {
  color: $primary-color;
  font-weight: bold;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

// Tipografía para encabezado h4 y párrafos
h4 {
  font-size: $font-size-h4;
  font-weight: normal; // Sin bold
  color: $primary-color;
}

p {
  font-size: $font-size-p;
  font-weight: normal; // Sin bold
  color: $primary-color;
}









.subtitle-card {
  font-size: $font-size-medium;
  font-weight: 200;
}

.main-title {
  font-size: $font-size-xlarge;
  font-weight: 800;
}

.title-card {
  font-size: $font-size-large;
  font-weight: 600;
}

.p-card {
  font-size: $font-size-small;
  font-weight: 400;
}

#button-green {
  background-color: $primary-color;
  border: none;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

#button-white {
  background-color: white;
  border: solid $primary-color;
  color: $primary-color;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

body {
  background-color: white;
}

#custom-icon-white {
  color: white;
}

#custom-icon-white:hover {
  background-color: rgb(247, 4, 4);
}
