<div class="container_def text-center  my-4 py-4" >
  <div class="custom-title text-center m-5">
    <h1>Mis graficos</h1>
  </div>







  <%= pie_chart JobUser.group(:status).where(user: current_user).count, colors: ["blue", "yellow", "red"], title: "Cuadro de estados de trabajos" %>

   <%= column_chart JobUser.group_by_day_of_week(:created_at, format: "%A").where(user: current_user, status: "aceptado").sum(:amount_paid) %>


</div>
