<Section class="container custom pt-3">
  <div class="text-center custom-title m-5">
    <h1 id="text-custom">Sobre nosotros</h1>
  </div>
  <div class="mb-4">
    <div class="text-center my-4">
      <%= image_tag "https://res.cloudinary.com/roldan-cloudinary/image/upload/v1726620650/colaborador%20culinario/vista_nosotros_qccfo4.jpg",style:"width: 18rem;", alt: "about-us-img" %>
    </div>
    <div class="gap-4">
      <h5 class="pt-4">En Colaborador Culinario, estamos comprometidos a transformar la forma en que los trabajadores del sector gastronómico conectan con restaurantes. Nuestra misión es facilitar la búsqueda de empleos por horas de manera rápida y sencilla, ofreciendo una plataforma eficiente tanto para los trabajadores como para los restaurantes.</h5>
      <h5 class="py-4">Sabemos que la flexibilidad es clave, por eso ayudamos a los profesionales a encontrar oportunidades laborales que se ajusten a su disponibilidad. Desde meseros hasta personal de limpieza, conectamos a los mejores talentos con los restaurantes que los necesitan, brindando una solución confiable para ambos.</h5>
      <h5 class="py-4">Con Colaborador Culinario, trabajar y contratar nunca ha sido tan fácil.</h5>
    </div>
    <div class="text-center my-4">
    <%= image_tag "https://res.cloudinary.com/roldan-cloudinary/image/upload/v1726620650/colaborador%20culinario/4_1_w045kl.png",style:"width: 18rem;", alt: "about-us-img" %>
    </div>
  </div>

  <style>

    #text-custom {
      color: #6c757d;
    }
    .custom {
      margin-top: 80px;
    }

    .custom-title {
        background-color: #DAD0FE;
        border-radius: 8px;
        padding: 1.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: black;
      }


      .custom-button {
        background-color: #00ae7a; /* Fondo verde */
        color: white; /* Texto blanco */
        font-weight: bold; /* Texto en negrita */
        font-size: 16px; /* Altura del texto */
        border: none; /* Sin borde */
        padding: 0.5rem 1rem; /* Ajusta el espacio interior */
        margin: 1rem 0; /* Agrega espacio igual arriba y abajo */
        transition: background-color 0.3s ease; /* Transición suave al hover */

        &:hover {
          background-color: rgba(0, 174, 122, 0.8); /* Fondo verde más tenue al pasar el cursor */
        }
      }
  </style>
</Section>
