<Section class="container">
  <div class="text-center my-4">
    <h1>Sobre nosotros</h1>
  </div>
  <div class="mb-4">
  <div class="text-center mb-4">
  <%= image_tag "https://res.cloudinary.com/roldan-cloudinary/image/upload/v1726004757/colaborador%20culinario/abouts-us-img-1_dhybfp.jpg",style:"width: 18rem;", alt: "about-us-img" %>
  </div>
  <h5 class="mb-4">En Colaborador Culinario, estamos comprometidos a transformar la forma en que los trabajadores del sector gastronómico conectan con restaurantes. Nuestra misión es facilitar la búsqueda de empleos por horas de manera rápida y sencilla, ofreciendo una plataforma eficiente tanto para los trabajadores como para los restaurantes.</h5>
  <h5 class="mb-4">Sabemos que la flexibilidad es clave, por eso ayudamos a los profesionales a encontrar oportunidades laborales que se ajusten a su disponibilidad. Desde meseros hasta personal de limpieza, conectamos a los mejores talentos con los restaurantes que los necesitan, brindando una solución confiable para ambos.</h5>
  <h5 class="mb-4">Con Colaborador Culinario, trabajar y contratar nunca ha sido tan fácil.</h5>
  </div>
</Section>
