<Section class="container">
  <div class="text-center my-4">
    <h1>Sobre nosotros</h1>
  </div>
  <div>
  <%= image_tag "about-us-img-1.jpg", alt: "Descripción de la imagen" %>
  <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nemo tempore possimus suscipit temporibus deleniti labore, dignissimos, soluta rerum et illum velit dolorum? Quis eius culpa, earum iure ratione vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non corrupti quam, minus vero autem error sit nulla commodi, sed est delectus aut reiciendis hic facilis. Optio ratione sit neque provident?</h5>
  </div>
</Section>
 <img src="../../assets/images/abouts-us-img-1.jpg" alt="img">
