<div data-controller="dashboard">

  <div class="d-flex flex-row">
    <div class="col-ml-2 " id="side">
      <h2 class="text-start my-4 mt-4 p-4" data-aos="fade-right">Dashboard</h2>
      <div class="d-flex flex-column gap-2" >
        <button class="btn" data-action="click->dashboard#showView" data-view="1" data-aos="fade-right">
          <div class="d-flex">
            <div class="d-flex gap-3 icon-extras" id="dash-icon">
              <i class="fa-solid fa-credit-card" id="icon-custom"></i>
              <p class="my-auto" id="p-white">
                Mis Pagos
              </p>
            </div>
          </div>
        </button>
        <button class="btn" data-action="click->dashboard#showView" data-view="2" data-aos="fade-right">
        <div class="d-flex">
          <div class="d-flex gap-3 icon-extras" id="dash-icon">
            <i class="fa-solid fa-list" id="icon-custom"></i>
            <p class="my-auto" id="p-white">
              Mis Postulaciones
            </p>
          </div>
          </div>
        </button>
        <button class="btn" data-action="click->dashboard#showView" data-view="3" data-aos="fade-right">
        <div class="d-flex">
          <div class="d-flex gap-3 icon-extras" id="dash-icon">
            <i class="fa-solid fa-chart-line" id="icon-custom"></i>
            <p class="my-auto" id="p-white">
              Mis Graficos
            </p>
          </div>
          </div>
        </button>
      </div>
    </div>

    <div class="container pb-5 mb-5" >
      <div class="content background" id="content3" style="display: block;">
        <%= render 'shared/graphics_user' %>
      </div>


      <div class="content background" id="content1" style="display: none;">
        <%= render 'shared/payment_user_content' %>
      </div>

      <div  class="content background" id="content2" style="display: none;">
        <%= render 'shared/all_applications_user' %>
      </div>

    </div>

    <%# estilos %>
    <style>

      #p-white {
          color: white ;
        }

      #icon-custom {
        margin-left: 10px;
        color: white;
      }



      #side {

        top: 63px;
        height: 100vh;
        overflow-y: auto;
        z-index: 10;
        position: sticky;
        border-right: 3px solid black;
        background-color: #f4f4f4;
        width: 30vw;
        left: 0;
        padding-top: 50px;
      }

      .container_def {
        background-color:#f4f4f4;
        color:white;
        width: 100%%;
        border-radius: 8px;
      }

      .custom-title {
        background-color: lightblue;
        border-radius: 8px;
        padding: 1.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: black;
      }

      .content {
        padding-top: 100px;
        padding-left: 100px;
        padding-right: 100px;
      }

      #dash-icon {
        align-self: center;
        margin: 10px;
      }

      .icon-extras {
        display: flex;
        align-items: center;
        background-color: #00ae7a;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        justify-content: flex-start;
        transition: all 0.3s ease;
        overflow: hidden;
      }

      .icon-extras:hover {
        width: 180px;
        border-radius: 20px;
      }

      .cancel-btn {
        background-color: #cf4545;
        color: white;
        border-radius: 10px;
      }
    </style>

  </div>


</div>
