<div data-controller="dashboard">
  <div class="d-flex flex-row">
    <div class="col-ml-2 " id="side">
      <h2 class="text-start my-4 mt-4 p-4" data-aos="fade-right" id="text-custom">Dashboard</h2>
      <div class="d-flex flex-column gap-2" >
        <button class="btn" data-action="click->dashboard#showView" data-view="1" data-aos="fade-right">
          <div class="d-flex">
            <div class="d-flex gap-3 icon-extras dash-icon" data-action="click->buttons#toggle">
              <i class="fa-solid fa-credit-card" id="icon-custom"></i>
              <p class="my-auto" id="p-white">
                Mis Pagos
              </p>
            </div>
          </div>
        </button>
        <button class="btn" data-action="click->dashboard#showView" data-view="2" data-aos="fade-right">
        <div class="d-flex">
          <div class="d-flex gap-3 icon-extras dash-icon" data-action="click->buttons#toggle">
            <i class="fa-solid fa-list" id="icon-custom"></i>
            <p class="my-auto" id="p-white">
              Mis Postulaciones
            </p>
          </div>
          </div>
        </button>
        <button class="btn" data-action="click->dashboard#showView" data-view="3" data-aos="fade-right">
        <div class="d-flex">
          <div class="d-flex gap-3 icon-extras dash-icon" data-action="click->buttons#toggle">
            <i class="fa-solid fa-chart-line" id="icon-custom"></i>
            <p class="my-auto" id="p-white">
              Mis Estadísticas
            </p>
          </div>
          </div>
        </button>
      </div>
    </div>
    <div class="container pb-5 mb-5" >
      <div class="content" id="content3" style="display: block;">
        <%= render 'shared/graphics_user' %>
      </div>
      <div class="content" id="content1" style="display: none;">
        <%= render 'shared/payment_user_content' %>
      </div>
      <div  class="content" id="content2" style="display: none;">
        <%= render 'shared/all_applications_user' %>
      </div>
    </div>
    <%# estilos %>
    <style>
      #p-white {
          color: white;
          font-weight: bold;
          font-size: 11px;
        }
      #icon-custom {
        margin-left: 10px;
        color: white;
      }
      #side {
        top: 63px;
        background-color: #F4F4F4;
        height: 100vh;
        padding: 1rem;
        margin-top: 60px;
        overflow-y: scroll;
        scrollbar-width: none;
        position: sticky;
        height: calc(100vh - 60px);
        z-index: 10;
        width: 20%;
      }
      .container_def {
        width: 100%%;
        border-radius: 8px;
      }
      .custom-title {
        background-color: #DAD0FE;
        border-radius: 8px;
        padding: 1.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #6c757d !important;
      }
      .content {
        padding-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 60vw;
      }
      .dash-icon {
        align-self: center;
        margin: 10px;
        cursor: pointer;
      }
      /* .dash-icon.active {
        width: 180px;
        border-radius: 20px;
      } */
      .icon-extras {
        display: flex;
        align-items: center;
        background-color: #00AE7A;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        justify-content: flex-start;
        transition: all 0.3s ease;
        overflow: hidden;
      }

      .icon-extras:hover {
        width: 152px;
        border-radius: 20px;
      }

      .cancel-btn {
        background-color: #F4F4F4;
        color: black;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 12px;
        transition: all 0.3s ease;
        font-weight: bold;
      }

      .cancel-btn:hover {
        background-color: #CF4545;
        color: white;
      }

      .levitate_card {

        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }

      .levitate_card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      }

      .c-body {
        border-radius: 10px;
        background-color: #F4F4F4;
      }

      #text-custom {
        color: #6c757d;
      }
    </style>
  </div>
</div>
