<!-- Main Layout -->
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar (feature-sidebar) -->
        <div class="col-md-2 sidebar">
            <!-- Aquí se colocará el código de la barra lateral en `feature-sidebar` -->
        </div>

        <!-- Main Content (feature-job-listings)-->
        <div class="col-md-7 main-content">
            <h2>250 Resultados</h2>
            <div class="row job-list">
                <!-- Aquí se colocará el código de la lista de trabajos en `feature-job-listings` -->
            </div>
        </div>

        <!-- Right Content (Job Details) (feature-job-details) -->
        <div class="col-md-3 right-content">
            <!-- Aquí se colocará el código de los detalles del trabajo en `feature-job-details` -->
        </div>
    </div>
</div>
