<!-- app/views/pages/home.html.erb -->
<div class="container-fluid">
  <div id="main-container" class="row">
    <%= render 'pages/sidebar' %>
    <%= render 'pages/job_listings', jobs: @jobs %>
    <%= render 'pages/job_details', selected_job: @selected_job || @jobs.first, job_user: @job_user, time_remaining: @time_remaining %>
  </div>
</div>
