<Section class="container">
  <div class="text-center my-4">
    <h1>Perfil de usuario</h1>
  </div>
  <div>
  <img src="" alt="">
  </div>
  <div class="mb-4">
    <div class="d-flex flex-row justify-center mb-4">
      <h5 class="mb-4">Nombre:</h5>
      <h5>Luis Roldán</h5>
    </div><div class="text-center mb-4">
      <h5 class="mb-4">Teléfono:</h5>
      <h5>999999999</h5>
    </div>
  </div>
</Section>
