<%# Para probar que funciona, se reemplazara por lo de Levi %>
<h1>Editar Restaurante</h1>

<%= render 'form', restaurant: @restaurant %>

<%= link_to 'Regresar', restaurant_path(@restaurant), class: 'btn btn-secondary' %>

