<div class="container mt-5">
  <%# Para probar que funciona, se reemplazara por lo de Levi %>
  <div class="custom">
    <h3>Nuevo Restaurante</h3>

    <%= render 'form', restaurant: @restaurant %>

    <%= link_to 'Regresar', restaurants_path, class: 'btn btn-secondary' %>

    <style>
      .custom {
        margin-top: 80px;
      }
      </style>
  </div>
</div>
