/* Ocultar las barras de desplazamiento en todos los navegadores */
#job_details {
  overflow-y: auto; /* Permite scroll vertical en estas secciones */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
  height: calc(100vh - 60px); /* Altura total menos la altura del header */
  position: relative;
  z-index: 0; /* Asegura que el detalle esté en el fondo */
}

/* Ocultar las barras de desplazamiento en navegadores WebKit (Chrome, Safari) */
#job_details::-webkit-scrollbar {
  display: none;
}

#job_details {
  background-color: $secondary-color;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  // Estilo para la imagen del negocio
  .job-image-card {
    border-radius: 10px;
    height: 130px;
    overflow: hidden;
    position: relative;

    // Imagen del negocio
    .background-image {
      background-image: url('business-image.jpg');
      background-size: cover;
      background-position: center;
    }

    .dark-overlay {
      background-color: rgba(0, 0, 0, 0.6);
    }

    .expiration-time {
      text-align: center;  /* Centramos el texto */
      line-height: 1.5;    /* Ajustamos la altura de línea para separar las filas */
      font-weight: bold;   /* Opción de estilo adicional para hacerlo más visible */
      font-size: $font-size-h2;
    }

    .overlay-content .expiration-time {
      padding: 5px 10px;
      border-radius: 5px;
    }

    // Estilos para el logo del negocio
    .logo {
      width: 50px;
      height: 50px;
      border: 2px solid white;
      border-radius: 50%;
      background-image: url('logo.jpg');
      background-size: cover;
      background-position: center;
    }

    .job-image-logo {
      bottom: -25px;
      left: 20px;
      width: 50px;
      height: 50px;
      overflow: hidden;
    }

    .job-image-logo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 2px solid white;
    }
  }

  .specific-details {
    color: $senary-color;
  }

  .business-details {
    color: $quinary-color;
  }

  .other-offers {
    color: $quinary-color;
  }

  // Estilo personalizado para el botón "Aplicar ahora"
  .apply-now {
    background-color: $quinary-color; /* Fondo verde */
    color: $septenary-color; /* Texto blanco */
    font-weight: bold; /* Texto en negrita */
    font-size: $font-size-h4; /* Altura del texto */
    border: none; /* Sin borde */
    padding: 0.5rem 1rem; /* Ajusta el espacio interior */
    margin: 1rem 0; /* Agrega espacio igual arriba y abajo */
    transition: background-color 0.3s ease; /* Transición suave al hover */

    &:hover {
      background-color: rgba(0, 174, 122, 0.8); /* Fondo verde más tenue al pasar el cursor */
    }
  }

  // Estilo personalizado para el botón "Mis postulaciones"
  .my-applications-button {
    background-color: transparent; /* Sin fondo */
    color: $quinary-color; /* Texto verde */
    border: 2px solid $quinary-color; /* Borde verde de 2px */
    border-radius: 50px; /* Borde redondeado */
    padding: 0.3rem 0.8rem; /* Ajusta el espacio interior */
    margin: 1rem 0; /* Agrega espacio igual arriba y abajo */
    text-decoration: none; /* Elimina el subrayado en los enlaces */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para fondo y color */
    font-size: $font-size-h4;

    &:hover {
      background-color: $quinary-color; /* Fondo verde al pasar el cursor */
      color: $septenary-color; /* Cambia el texto a blanco */
    }
  }

}
