/* Ocultar las barras de desplazamiento en todos los navegadores */
#job_listings {
  overflow-y: auto; /* Permite scroll vertical en estas secciones */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
  height: calc(100vh - 60px); /* Altura total menos la altura del header */
  position: relative;
  z-index: 5; /* Mantiene estas secciones debajo del sidebar pero encima de otros elementos */
}

/* Ocultar las barras de desplazamiento en navegadores WebKit (Chrome, Safari) */
#job_listings::-webkit-scrollbar {
  display: none;
}

.main-content {
  background-color: $septenary-color;
  padding: 1.5rem;
}

// Estilos para el card filter
#card-filter {
  background-color: $quaternary-color;
  border-radius: 18px; // Aplica border-radius a la tarjeta

  // Estilos para el input de búsqueda dentro de #card-filter
  .search-input {
    background-color: $septenary-color; /* Fondo blanco */
    color: $senary-color; /* Color del texto del input */
    border-radius: 18px; // Aplica border-radius al input
  }
}

.job-list .card {
  margin-bottom: 1rem; /* Espacio entre tarjetas en la misma fila */
}


// Estilos para el card padre del job
.parent-card {
  background-color: $septenary-color;
  border: 2px solid $tertiary-color;
  border-radius: 18px !important;
  overflow: hidden; /* Asegura que ningún contenido salga del contenedor */

  // Estilos para el card hijo del job
  .child-card {
    background-color: $secondary-color;
    margin: 2.5px;
    border-radius: 18px !important;

    h4 {
      color: $senary-color;
    }

    // Estilos para el botón de expiración en job
    .expiration {
      font-size: $font-size-h5;
      white-space: nowrap;       /* Evita que el texto se divida en varias líneas */
      overflow: hidden;          /* Oculta el texto que no cabe */
      text-overflow: ellipsis;   /* Muestra los puntos suspensivos (...) */
      display: inline-block; /* Asegura que el botón respete su contenedor */
      max-width: 100%; /* Limita el ancho al contenedor padre */
    }

  }

  .two-lines {
    display: flex;
    flex-wrap: wrap;
    max-height: 3em; /* Asegura que solo ocupe el espacio para dos líneas */
  }

  .first-word {
    flex-basis: 100%; /* Fuerza la primera palabra a estar en una fila separada */
    white-space: nowrap; /* Evita que se divida la primera palabra */
  }

  .rest-text {
    flex-basis: 100%; /* Coloca el resto del texto en la segunda línea */
    overflow: hidden; /* Oculta el contenido que desborda */
    white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto se corta */
  }

  #location {
    color: $senary-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; /* Ajusta el contenido al tamaño necesario */
    width: 90px;
  }

  .detail-button {
    background-color: transparent; /* Sin fondo */
    color: $quinary-color; /* Texto verde */
    border: 2px solid $quinary-color; /* Borde verde de 2px */
    border-radius: 50px; /* Border radius redondeado */
    padding: 0.5rem 1rem; /* Ajusta el espacio interior */
    text-decoration: none; /* Elimina el subrayado en los enlaces */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para fondo y color */
    font-size: $font-size-h5;
    white-space: nowrap;

    &:hover {
      background-color: $quinary-color; /* Fondo verde claro al pasar el cursor */
      color: $septenary-color; /* Cambia el texto a blanco */
    }
  }
}

.job-list .col-md-3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.child-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.child-card .bi-bookmark {
  font-size: 1.5rem;
}

.child-card .btn {
  border-radius: 50px;
}

.parent-card .btn-primary {
  border-radius: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.parent-card .salary-location {
  font-weight: bold;
}

// Estilo para el search y ubicación de sus elementos
.search-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  overflow: hidden;
}
.search-container i.fa-search{
  position: absolute;
  left: 11px;
  font-size: 14px;
}
.search-container button.search-button {
  position: absolute;
  right:0;
  height: 88%;
  margin-right: 3px;
  border-radius:15px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.search-container input {
  border-radius: 0px !important;
  padding-left: 35px;
  border:none !important;
  outline:none !important;
  box-shadow:none !important;
}
