.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: solid 1.5px #b7a8a836;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.custom-link-color {
  color: black; /* El color que desees */
}

.custom-link-color:hover {
  color: $primary-color;
}

/* CSS para el header fijo */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegúrate de que el header esté por encima de otros elementos */
}

/* Ajustes adicionales para elementos interactivos */
#avatar-menu {
  position: relative; /* Asegura que el menú no sea afectado por el scroll */
  z-index: 2000; /* Debe estar por encima de todos los demás elementos */
}
