/* Ocultar las barras de desplazamiento en todos los navegadores */
#sidebar {
  overflow-y: scroll; /* Asegura que el contenido pueda ser desplazado */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
  position: sticky; /* Mantiene la barra lateral fija al hacer scroll */
  top: 0;
  height: calc(100vh - 60px); /* Altura completa menos el header */
  z-index: 10;
}

/* Ocultar las barras de desplazamiento en navegadores WebKit (Chrome, Safari) */
#sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  background-color: $secondary-color; /* Fondo blanco para la barra lateral */
  height: 100vh; /* Altura total de la ventana */
  padding: 1rem; /* Espaciado interno */
}

/* Estilos para el enlace 'Restaurar' */
.restore-link {
  text-decoration: none; /* Elimina la raya debajo del enlace */
  color: #ff385c; /* Color rojo estilo 'danger' */
  font-size: $font-size-h4;
}

.restore-link:hover {
  color: #e7002a; /* Color más oscuro al pasar el mouse */
}

/* Estilos las etiquetas del filtro */
.form-label {
  font-size: $font-size-h3;
  font-weight: bold;
}

.form-check-label {
  font-size: $font-size-h4;
}

/* Estilo para el input con el ID jobLocation */
#jobLocation {
  background-color: $septenary-color; /* Fondo blanco */
  color: $senary-color; /* Color del texto del input */
  border-radius: 12px; /* Aplica border-radius al input */

  &::placeholder {
    color: $senary-color; /* Cambia esto por el color que desees para el placeholder */
  }
}


// Estilo base para el checkbox
.form-check-input {
  background-color: $septenary-color; // Fondo blanco cuando no está marcado
  border-color: $primary-color; // Borde negro
  color: $primary-color; // Color del check cuando está marcado
  border: none; // Quitar el borde

  // Estilo cuando el checkbox está marcado
  &:checked {
    background-color: $primary-color; // Fondo negro cuando está marcado
    border-color: $primary-color; // Mantén el borde negro
    color: $septenary-color; // Color del check en blanco
  }

  // Elimina el reflejo azul del enfoque
  &:focus {
    box-shadow: none;
  }
}

// Estilo para el filtro por ubicación
.input-group {
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.input-group i {
  position:absolute;
  z-index: 10;
  left: 10px;
}

.input-group input {
  padding-left: 30px;
  border:none !important;
  outline:none !important;
  box-shadow:none !important;
}
